{{#if resume.skills.length}}
<div>
  <h3>Skills</h3>
  {{#each resume.skills}}
  <section>
    {{#if name}}
      <h4 class="column-left">{{name}}</h4>
    {{/if}}
    {{#if keywords.length}}
      <ul class="minimal">
        {{#each keywords}}
        <li>
          {{.}}
        </li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}

